{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>weather</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cover" style="background-image: url('/static/weatherinfo/background.jpg');">
	<div class="flex flex-col items-center justify-center text-2xl font-bold">
		<img src="{% static 'weatherinfo/logo.png' %}" alt="logo" class="w-20 h-20">
		<h1 class="mt-5">Weather app</h1>
	</div>
	<div class="flex items-center justify-center pt-56 text-3xl font-semibold font-mono">
		<div class="leading-relaxed">
			<p>Country:            {{country}}</p>
			<p>City:     		   {{city}}</p>
			<p>Date Time:          {{time}}</p>
			
			<p>Temperature:        {{temperature}}°C</p>
			<p>Weather Description:{{weather_desc}}</p>
			<p>Precip:             {{precip}}</p>
		</div>
		<div class="ml-32">
			<img src="{{icon}}" class="h-40 w-40 rounded-full border-solid border-8 border-orange-300">
		</div>
	</div>
	
</body>
</html>