{% extends 'baselayout.html' %}
{%block content %}
 <style>
        textarea {
            height:30px;
        }
    </style>
{% if request.user.is_authenticated %}
<h1>Hello {{request.user}}</h1>
{% for post in posts %}
	<div class="flex items-center justify-center mt-2">
		<div class="bg-blue-500 p-8 rounded-md shadow-md">
			{% if post.user.userprofile.profile_picture %}
			    <img src="{{post.user.userprofile.profile_picture.url}}" alt="Profile Picture" class="h-12 p-1 rounded-full">{{post.user}}--{{post.created_at}}
			{% else %}
			    <!-- Display a default image or alternative content if no profile picture is available -->
			    <p><img src="/static/media/default.jpg" alt="Default Image" class="h-12 p-1 rounded-full">{{post.user}}--{{post.created_at}}</p>
			{% endif %}
			{% if request.user == post.user %}
			<form method="POST" action="{% url 'deletepost' post.id %}">
		            {% csrf_token %}
		            <input type="submit" value="Delete" class="hover:font-bold">
		    </form>
		    {% endif %}
			<p>{{post.content}}</p>
			<form method="POST" action="{% url 'like' post.id %}">
		            {% csrf_token %}
		            <input type="submit" value="Like" class="hover:font-bold">--{{post.like_set.count}}
		    </form>
		   
		    <form method="POST" action="{% url 'comment' post.id %}">
		            {% csrf_token %}
		            {{form}}
		            <input type="submit" value="Comment" class="hover:font-bold">
		    </form>
		    <a href="{% url 'comments' post.id %}" class="hover:font-bold">comments</a>
		</div>
	</div>
{% endfor %}
{% endif %}
{% endblock %}