{% extends 'baselayout.html' %}
{%block content %}
{% for u in user %}
<p>{{u.username}}</p>
<a href="{% url 'sendrequest' u.id %}">send request</a>
{% endfor %}

{% if request.user.is_authenticated %}
<h1>Hello {{request.user}}</h1>
<a href="{% url 'friendrequest'%}">friend requests</a>
<a href="{% url 'createpost' %}">Createpost</a>

<a href="{% url 'logout' %}">logout</a>
{% for post in posts %}
	<div>
		<hr>
		<p>{{post.user}}-{{post.created_at}}</p>
		{% if request.user == post.user %}
		<form method="POST" action="{% url 'deletepost' post.id %}">
	            {% csrf_token %}
	            <input type="submit" value="Delete" class="hover:font-bold">
	    </form>
	    {% endif %}
		<p>{{post.content}}</p>
		<form method="POST" action="{% url 'like' post.id %}">
	            {% csrf_token %}
	            <input type="submit" value="Like" class="hover:font-bold">
	    </form>
	    <p>Likes:{{post.like_set.count}}</p>
	    <form method="POST" action="{% url 'comment' post.id %}">
	            {% csrf_token %}
	            {{form}}
	            <input type="submit" value="Comment" class="hover:font-bold">
	    </form>
	    <a href="{% url 'comments' post.id %}">comments</a>
	    <hr>
	</div>
{% endfor %}



{% else %}
	<h1>Welcome to Socivibe</h1>
	<a href="{% url 'login' %}">Login</a>
	<a href="{% url 'signup' %}">Signup</a>
{% endif %}
{% endblock %}