{% extends 'baselayout.html' %}

{% block content %}
        <div class="flex h-screen">
            <div class="flex-initial w-64 bg-blue-200">
                <h1>
                    {% for u in users %}
                    <a href="/send_message/{{u}}">{{u}}</a>
                    {% endfor %}
                </h1>
            </div>
            <div class="flex-1 bg-green-200">
                <h1>Hello , Welcome to my chat site ! {{request.user}}</h1>
                <div id="messes" class="absolute bottom-8 left-54 text-2xl"></div>
                <div class="absolute bottom-0 left-54" id="id_chat_item_container">
                    <input type="text" id="id_message_send_input" class="w-96 h-8 ml-96" />
                    <button type="submit" id="id_message_send_button">Send Message</button>
                </div>
            </div>


        </div>
    
    



    <script>

        // WebSocket configuration
        const chatSocket = new WebSocket("ws://" + window.location.host + "/");
        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };
        
        // for the up key button to send the message
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
            "#id_message_send_input"
            ).value;
            chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
        };


        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var div = document.createElement("div");
            div.innerHTML = data.username + " : " + data.message;
            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#messes").appendChild(div);
        };
    </script>

{% endblock %}

